header {
  border: 1px solid black;
  height: 10vh;
}

main {
  border: 1px solid black;
  height: 77.5vh;
}

footer {
  border: 1px solid black;
  height: 10vh;
}

 ul.navbar li {
  display: inline-block;
  padding: 0 3px;
}